<div class="cart-container">
    <header class="cart-container__header">
        <div class="cart-container__header__container__account">
            <app-account></app-account>
        </div>

        <div class="cart-container__header__container">
            <div class="cart-container__header__container__content">
                <h2 class="cart-container__header__container__content__text">SM</h2>
                <h2 class="cart-container__header__container__content__text">YT</h2>
                <h2 class="cart-container__header__container__content__text">HS</h2>
            </div>
            <div class="cart-container__header__container__search-icon">
                <input type="text" name="" class="cart-container__header__container__search__iconsearch-input"
                    placeholder="I'm Looking For..." />
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>

        </div>

        <div class="cart-container__header__sub-container">
            <p>Toys</p>
            <p>Baby Room</p>
            <p>OutDoor</p>
            <p>Gaming</p>
            <p>Gift Finder</p>
        </div>
    </header>

    <div class="cart-container__sub__header-container">
        <div class="cart-container__sub__header-container__title">
            <p>FREE STANDARD DELIVERY OVER $20*</p>
            <p>ORDER BY 1 FOR NEXT DAY DELIVERY</p>
            <p>FREE CLICK & COLLECT WITHIN 2 HOURS</p>
        </div>
        <div class="cart-container__sub__header-container__sub__title">
            <p>Home</p>&nbsp;&nbsp;
            <p>/</p>&nbsp;&nbsp;
            <div class="cart-container__sub__header-container__sub__title__shopping__icon">
                <p>{{ currentPage }} Page</p>
            </div>
        </div>
    </div>
</div>