.shipping_container {
    margin-top: 30px;
}

.shipping-container__form {
    width: 100%;
    height: auto;
    padding: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 550px;

    border: 1px solid #ddd;

}

.shipping-container__form__header,
.shipping_form__txtInputsize,
.shipping_form__selctbox {

    margin-top: 10px;
    padding: 0 15px;
    box-sizing: border-box;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.label {
    margin-left: 2px;
}

.shipping-container__form__header {
    font-size: 26px;
}

.shipping-container__form__container__content {
    margin-top: 30px;
}

.shipping-container__form__container label {


    word-wrap: break-word;
}

.shipping-container__form__container label .asterisk {
    color: #000;
    padding-left: 10px;
    padding-right: 10px;
}

.shipping-container__form__container__summary {
    margin-top: 30px;

}

.error {
    color: red;
    margin-top: 10px;
}

.shipping-form__sub_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
}



.row .shipping-container__form__container {
    width: 48%;
}

.starMarkRow {
    display: flex;
    flex-direction: row;

}

.shipping_form__txtInputsize {
    height: 45px;
    width: 220px;
}

.shipping_form__selctbox {
    width: 225px;
    height: 45px;
    border: 1px solid #cccccc;
}

.shipping_form__selctbox-spacing {
    margin-left: 10px;
}


.shipping-container__form__container input {
    border: 1px solid #ccc;
}

.shipping-container__chkBox {
    display: flex;
    flex-direction: row;

}

.shipping-container__form__container__content__checkbox-label {
    margin-left: 10px;

}


.checkbox-address-button {
    background-color: #8e2022;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 5px;
    font-size: 12px;
    height: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
}

.checkbox-address-button:hover {
    background-color: #e60023;
    transform: translateY(-2px);
}


@media (max-width: 768px) {
    .shipping-container__form {
        width: 90%;

        padding: 15px;
        padding-left: 20px;
        padding-right: 20px;
        max-width: 100%;
        padding-bottom: 40px;
        height: auto;

    }

    .shipping-form__sub_container {
        flex-direction: column;
        align-items: center;
        gap: 5px
    }

    .row .shipping-container__form__container {
        width: 100%;
        margin-top: 10px;
    }

    .shipping_form__txtInputsize,
    .shipping_form__selctbox {
        width: 100%;
        margin-bottom: 4px;
        height: 40px;
    }

    .txtInputsizes {
        margin-bottom: 15px;

    }

    .txtInputsizess {
        margin-top: 15px;

    }

    .shipping_form__txtInputsize,
    .shipping_form__selctbox {

        width: 350px;
        margin-bottom: 5px;
        margin-top: 5px;

    }

    .shipping_form__selctbox {
        height: 43px;
        border: 1px solid #cccccc;
    }

    .shipping-container__chkBox {
        flex-direction: column;
        align-items: flex-start;
    }

    .shipping-container__form__container__content__checkbox-label {
        margin-left: 10;
        margin-top: 5px;
    }

    .shipping-container__form__container__content {
        margin-top: 16px;
    }

    .error {
        margin-bottom: 10px;
        font-size: 14px;
    }
}




//  iPhone SE, iPhone XR, Samsung galaxy S8 , samsung galxy A51/71
@media (max-width: 375px) {
    .shipping-container__form {

        width: 350px;
        padding: 10px;
    }

    .shipping_form__txtInputsize,
    .shipping_form__selctbox {
        width: 100%;
        height: 40px;
    }

    .shipping-form__sub_container {
        flex-direction: column;
        gap: 10px;
    }

    .row .shipping-container__form__container {
        width: 100%;
    }
}




//    iPhone  XR, 14 Pro Max, pixel 7, s20 ultra
@media (min-width: 390px) and (max-width: 430px) {
    .shipping-container__form {
        width: 360px;
        padding: 20px;
    }

    .shipping_form__txtInputsize,
    .shipping_form__selctbox {
        margin: 5px auto;
        height: 45px;
    }

    .shipping_form__txtInputsize {
        width: 350px;

    }

    .shipping_form__selctbox {
        width: 350px;
    }

    .row .shipping-container__form__container {
        width: 48%;
    }
}


// ipad mini

@media (min-width: 726px) and (max-width: 768px) {
    .shipping-container__form {
        width: 600px;
        max-width: 600px;
    }

    .shipping_form__txtInputsize,
    .shipping_form__selctbox {
        height: 50px;
    }

    .shipping_form__txtInputsize {
        width: 600px;

    }

    .shipping_form__selctbox {
        width: 600px;
    }

    .row .shipping-container__form__container {
        width: 100%;
    }
}


// ipad air, z fold

@media (min-width: 769px) and (max-width: 915px) {

    .shipping-container__form {
        width: 380px;
        max-width: 380px;
        padding: 15px;
    }

    .shipping-form__sub_container {
        flex-direction: column;
        gap: 5px
    }

    .shipping_form__txtInputsize,
    .shipping_form__selctbox {
        height: 45px;

    }

    .shipping_form__txtInputsize {
        width: 370px;
        border: 1px solid #ccc;

    }

    .shipping_form__selctbox {
        width: 370px;
        border: 1px solid #ccc;
    }

    .row .shipping-container__form__container {
        width: 48%;
    }

    .txtInputsizes {
        margin-bottom: 15px;

    }


}


// i pad pro, surface pro 7

@media (min-width: 900px) and (max-width: 1210px) {
    .shipping-container__form {
        width: 450px;
        max-width: 450px;
        padding: 15px;
    }

    .shipping_form__txtInputsize,
    .shipping_form__selctbox {
        height: 55px;
    }

    .shipping_form__txtInputsize {
        width: 440px;

    }

    .shipping_form__selctbox {
        width: 440px;
    }

    .row .sshipping-container__form__container {
        width: 48%;
    }

    .shipping-form__sub_container {
        flex-direction: column;
        gap: 5px
    }
}

//   Nest Hub, Nest Hub Max 

@media (min-width: 1220px) and (max-width: 1500px) {
    .shipping-container__form {

        width: 500px;
        max-width: 850px;

    }

    .shipping_form__txtInputsize,
    .shipping_form__selctbox {
        border: 1px solid #cccccc;
    }
}


//   surface duo
@media (min-width: 540px) and (max-width: 720px) {


    .shipping-container__form {
        width: 400px;
        padding: 20px;
    }

    .shipping_form__txtInputsize,
    .shipping_form__selctbox {
        height: 50px;
    }

    .shipping_form__txtInputsize {
        width: 400px
    }

    .shipping_form__selctbox {
        width: 400px
    }

    .row .shipping-container__form__container {
        width: 100%;
    }
}


// z fold
@media (max-width: 360px) {

    .shipping-container__form {
        width: 350px;
        padding: 20px;
        margin-left: 50px;
    }

    .shipping_form__txtInputsize,
    .shipping_form__selctbox {
        height: 40px;
    }

    .shipping_form__txtInputsize {
        width: 340px;

    }

    .shipping_form__selctbox {
        width: 340px;

    }

    .row .shipping-container__form__container {
        width: 100%;
    }
}


/////////amsung galaxty S8 plus
@media (max-width: 360px) {
    .shipping-container__form__header {
        font-size: 22px;
        margin-left: -10px;

    }
}


//////////samsung gaaxy zfold
@media (max-width: 412px) {
    .shipping-container__form__header {
        font-size: 22px;
        margin-left: -10px;

    }
}

//////////////////iphone XR

@media (max-width: 414px) {
    .shipping-container__form__header {

        font-size: 22px;
    }
}

//////////////////iphone 14 PRO MAX

@media (max-width: 430px) {
    .shipping-container__form__header {

        font-size: 22px;
    }
}


//////////////////ipad air

@media (max-width: 820px) {
    .shipping-container__form__header {

        font-size: 22px;
    }
}