
  

  <mat-stepper [linear]="isLinear" #stepper>
    <mat-step>
      <ng-template matStepLabel>Fill out your name</ng-template>
      <p>Name form goes here (optional)</p>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Fill out your address</ng-template>
      <p>Address form goes here (optional)</p>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
    </mat-step>
  </mat-stepper>












  
  