.shipping-info__container {
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: 100%;

  box-sizing: border-box;
}

.shipping-info__container__header {
  display: flex;
  flex-direction: row;

}

.shipping-info__container h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shipping-info__container button i {
  margin-right: 5px;
}

.shipping-info__container__header__title {
  font-size: 20px;
  font-weight: 500;
  word-break: break-word;
  overflow-wrap: break-word;
  margin-right: auto;


}

.shipping-info__container__header__edit-button__routerLink {
  background: none;
  border: none;
  color: blue;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 5px
}

.shipping-info__container__header__edit-button__routerLink a {
  text-decoration: none;
  color: blue;
  display: flex;
  align-items: center;
}

.shipping-info__container__header__edit-button__routerLink i {
  margin-left: 5px;
}

.shipping-info__container__header__edit-button__link {
  text-decoration: none;
  color: blue;
}



.shipping-info__container__title__edit__text {
  overflow-wrap: break-word;
  max-width: 45px;

}

.shipping-info__container__content {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 10px
}

.shipping-info__container__content i {
  margin-right: 10px;
}

.shipping-info__container__content__icon-style {
  margin-left: 20px;
}

.shipping-info__container__content__label_text {
  flex-grow: 1;
  margin-left: 20px;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
  max-width: 200px;
}

.shipping-info__container__label {
  margin-left: 23px;
}

.shipping-info__container__content__icon__size {
  font-size: 12px;

}

.shipping-info__container__header__edit-button {
  margin-left: auto;
  flex-direction: row;
  font-size: 12px;
  font-weight: 800px;
  padding-right: 15px;
  margin-top: 20px;

  padding-right: 25px;
  gap: 5px
}

.shipping-info__container__header__edit-button__edit-icon:hover {
  background-color: #e0e0e0;
}

.shipping-info__container__header__edit-button__edit-icon {
  font-size: 18px;
  margin-top: 7px;
  flex-shrink: 0;
  position: relative;
}

.person-icon {
  color: #000;
  cursor: pointer;
}

.person-icon:hover {
  background-color: #fff;
}

.shipping-info__container__content__address-line {
  font-size: 24px;
  color: #000;

}

.shipping-info__container__content__ub_titles {
  font-size: 24px;
  color: #000;

}

.shipping-info__container__content-Icon {
  flex-shrink: 0;
  position: relative;
}



@media (max-width: 767px) {

  .shipping-info__container {
    width: 100%;
    margin-left: 0;
    padding: 10px;
    max-width: 500px;
  }


  .shipping-info__container h2 {
    flex-direction: column;
    align-items: flex-start;
  }

  .shipping-info__container__header__title {
    font-size: 18px;
    margin-left: 5px;
    margin-top: 15px;
    margin-bottom: 15px;

    word-break: break-word;
    overflow-wrap: break-word;
    margin-right: auto;
  }

  .shipping-info__container__header__edit-button {
    font-size: 14px;

    padding-right: 15px;

    gap: 5px;

    margin-top: 10px;
  }

  .shipping-info__container__content {
    flex-direction: row;
    align-items: flex-start;
    margin-top: 15px;
  }

  .shipping-info__container__content__icon-style,
  .shipping-info__container__content__label_text,
  .shipping-info__container__label {
    margin-left: 10px;
  }

  .shipping-info__container__content__label_text {
    flex-grow: 1;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;

  }



  .shipping-info__container__content__icon__size {
    font-size: 14px;
  }

  .shipping-info__container__header__edit-button__edit-icon {
    font-size: 16px;
    margin-top: 5px;
    flex-shrink: 0;
    position: relative;
  }

  .person-icon {
    font-size: 16px;
  }

  .shipping-info__container__content__address-line,
  .shipping-info__container__content__ub_titles {
    font-size: 18px;
  }

  .shipping-info__container__header__edit-button__link {
    font-size: 14px;

    padding-right: 2px;

    gap: 5px;

    margin-top: 10px;

  }

  .shipping-info__container__title__edit__text {
    overflow-wrap: break-word;
    max-width: 45px;

  }

}


// ipad mini

@media (min-width: 726px) and (max-width: 768px) {
  .shipping-info__container {
    width: 380px;
  }

}

// ipad pro
@media (min-width: 900px) and (max-width: 1210px) {
  .shipping-info__container {
    width: 400px;

  }
}


// ipad air
@media (min-width: 801px) and (max-width: 990px) {
  .shipping-info__container {
    width: 400px;
  }
}



//   surface duo
@media (min-width: 540px) and (max-width: 720px) {
  .shipping-info__container {
    width: 440px;
  }
}